.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Imported fonts */
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  padding: 2rem 0;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  line-height: 1.5rem;
}

.btn {
  border-color: hsla(0, 0%, 100%, 0.75);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 50px;
  border-width: 2px;
  margin-top: 2.5rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(0, 0%, 95%);
}

.container {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 900px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.row {
  display: flex;
  height: 100%;
}

.card-content {
  padding: 25px;
  margin: auto;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.sedan-button:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border: 1px solid white;
}
.suv {
  background-color: hsl(184, 100%, 22%);
}

.suv-button:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border: 1px solid white;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.luxury-button:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border: 1px solid white;
}

/* Media Queries */

@media (max-width: 990px) {
  body {
    padding: 0 20px;
  }

  .container {
    height: auto;
    width: 100%;
    max-width: 500px;
  }

  .col-4 {
    width: 100%;
  }

  .sedan {
    background-color: hsl(31, 77%, 52%);
  }

  .luxury {
    background-color: hsl(179, 100%, 13%);
  }
}
